# scripts/flickrripper.py
# On Python 2.7, flickrapi 2.3 may be used.
# The following automatically selects 2.x on all Python versions, which depends
# on requests 2.x, which may cause pip to report an error like the following:
#   pkg_resources.VersionConflict: (requests 1.2.3 (/usr/lib/python2.7/site-packages), Requirement.parse('requests>=2.2.1'))
# If you see that on Python 2, change this to flickrapi==1.4.5
# On Python 3, force pip to install requests 2.2.1, or remove flickrapi below.
# flickrapi==2.3 ; python_version < '2.7'
#flickrapi>=1.4.5,<2 ; python_version < '2.7'
flickrapi ; python_version >= '2.7'
pytest-flakes ; python_version >= '2.7'
coverage ; python_version >= '2.7'
